@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --milesblack: #0A0E17;
  --milesred: #BF0426;
  --mileswhite: #F2F2F2;
}


.homecontainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el div dentro del padre */
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}