@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --milesblack: #0A0E17;
  --milesred: #BF0426;
  --mileswhite: #F2F2F2;
}


.homecontainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el div dentro del padre */
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* .center-absolute {
  
  left: 50%;
  transform: translate(-50%, 0%); 
} */

.logo-dalowa-a path,
.logo-dalowa-a rect {
  fill: #BF0426; /* Color azul */
  transition: fill 0.3s linear;
}

.logo-dalowa-b path,
.logo-dalowa-b rect {
  fill: #0A0E17; /* Color azul */
  transition: fill 0.3s linear;
}

/* .logo-expand {
  width: calc(100% - 2rem);
  transition-property: transform, width;
  transition-delay: 0.3s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
} */

.transition-logo {
  transition-property: background-color, transform, width;
}

.transition-menu {
  transition-property: background-color, width;
}